
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
}
/* this is header section style */
header{
    background-color: rgba(255, 144, 14, 0.1);  
}

.header-logo{
    font-weight: 1000;
    font-size: 20px;
}
.header-navber{
    display: flex;
    padding: 10px 100px;
    gap: 600px;

}
.header-link{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 50px;
}
.header-link li a{
    text-decoration: none;
    color: gray;
}

.header-body{
    text-align: center;
}
.brand-new-group{
    font-size: 30px;
    font-weight: 800;
    margin-top: 35px;
}
.header-body-paragraph{
    font-size: 12.5px;
    color: gray;
}
.explore-btn{
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 15px;
    background-color : rgb(2, 243, 211);
    border-radius: 15px;
    color: black;
    font-weight: bold;
    border: none;
}
.header-img img{
    width: 1160px;
    height: 550px;
    margin-left: 100px;
}

/* this is main section style */

.quick-list{
    display: flex;
    margin: 50px 220px 40px;
    gap: 50px;
    
}
.quick-list-img img{
   
    margin: 4px;
    width: 180px;
    height: 180px;
}
.quick-list-text{
    margin-top: 60px;
}
.quick-list-text h2{
    color: gray;
    
}
.quick-list-text h2 .black{
    color: black;
    font-weight: bold;
    font-size: 24px;
}
.quick-list-text h2 span{
    color: rgb(2, 243, 211);
}
.quick-list-text p{
    color: gray;
}
/* this is features style section */

.features-section{
    display: flex;
    margin-left: 100px;
    gap: 70px;
}
.features-text-section{
    margin-top: 20px;
}
.feature-heading{
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
}
.feature-paragraph{
    font-size: 15px;
    color: gray;
}
.box-card-design{
    background-color: white;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    padding-left: 15px;
    padding: 4px 15px;
    margin-top: 15px;
    width: 450px;
    border-radius: 15px;
}
.box-card-design h3{
    font-size: 20px;
    color: rgb(43, 41, 41);
}
.box-card-design p{
    font-size: 15px;
    color: gray;
}

.features-img-section img{
    width: 600px;
    height: 780px;
}
.experience{
    margin-left: 605px;
    margin-top: -30px;
    padding: 20px;
    width: 150px;
    background-color: rgb(2, 243, 211);
    border: none;
    border-radius: 15px;
}
.experience .year{
    font-size: 20px;
    font-weight: 800;
}

.some-facts{
    margin-left: 100px;
    margin-bottom: 50px;
}
.some-facts h2{
    font-size: 25px;
    font-weight: 800;
}
.some-facts p{
    font-size: 16px;
    color: gray;
}


.work-review{
     display: flex;
     margin-left: 150px;
     gap: 120px;
}
.work-name{
    text-align: center;
    background-color: white;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    width: 150px;
    height: 150px;
    padding: 10px;
    /* border: 2px solid #FF900E; */
    
}
.work-name img{
    padding-top: 20px;
    width: 50px;
    height: 50px;
}
.work-name h2{
    margin-top: 10px;
    color: gray;
}
.work-name p{
    margin-top: 1px;
    color: gray;
}

.our-company{
    text-align: center;
    margin-top: 80px;
}
.our-company p{
    font-size: 15px;
    color: gray;
}
.company-name{
    margin-left: 150px;
    margin-bottom: 50px;
}
.company-name img{
    margin-right: 70px;
    margin-top: 20px;
    width: 150px;
}

/* this is footer style design */
.footer{
    width: 500px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 50px auto;
    text-align: center;
}
